\__astcache\
\__history\
\__recovery\
Win32\Debug\CrcUnit.obj
Win32\Debug\Unit2.obj
Win32\Debug\UpdateGenerator.#00
Win32\Debug\UpdateGenerator.ilc
Win32\Debug\UpdateGenerator.ild
Win32\Debug\UpdateGenerator.ilf
Win32\Debug\UpdateGenerator.ils
Win32\Debug\UpdateGenerator.map
Win32\Debug\UpdateGenerator.obj
Win32\Debug\UpdateGenerator.pch
Win32\Debug\UpdateGenerator.tds
UpdateGenerator_Icon.ico
package.json
icon.png